canvas {
    background-color: beige;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
}

.instructions {
    padding: 10px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    grid-row: 1;
    grid-column: 2;
}

.canvas_div {
    grid-row: 1;
    grid-column: 1;
}