canvas {
    background-color: beige;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
body {
    margin: 0;
}

.container {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: auto 20%;
    gap: 20px;
    padding: 10px;
}

.sidebar {
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    grid-row: 1;
    grid-column: 2;
}

.space_children > * {
    margin-top: 10px;
}

.canvas_div {
    grid-row: 1;
    grid-column: 1;
}

.num_input {
    width: 3.5em;
}

/* thin (mobile) devices have a vertical layout rather than horizontal */
@media (max-width: 1000px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .sidebar {
        grid-row: 2;
        grid-column: 1;
    }
}